Welcome to example.com, <%= @user.name %>
===============================================
<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MnUyajhtcTI5Z25rMzZtZjVjbzhlcWc1b2Igc2FuYWRhYnVqYmFyYUBt&amp;tmsrc=sanadabujbara%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a>
You have successfully registered to example.com,
your username is: <%= @user.name %>.

To login to the site, just follow this link:

Thanks for joining and have a great day!