<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <div>
      <div style='width: auto'>
        <h3 style="margin: 0; color: black">AGENDA EL DÍA 1: </h3>
        <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MWtjMmlkdnRtdmViaTdnZ3ZnN2kwMmU5dHRfMjAyMDEyMDJUMTQwMDAwWiBpbmZvcm1lc3NkcEBt&amp;tmsrc=informessdp%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif" style="margin: 5px"></a>
      </div>
      <div style='width: auto;'>
        <h3 style="margin: 0; color: black">AGENDA EL DÍA 2: </h3>
        <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MWtjMmlkdnRtdmViaTdnZ3ZnN2kwMmU5dHRfMjAyMDEyMDNUMTQwMDAwWiBpbmZvcm1lc3NkcEBt&amp;tmsrc=informessdp%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif" style="margin: 5px"></a>
      </div>
    </div>
  </head>
  <body>
    <div style='widht: 600px; margin-top: 0; margin-bottom: 0; margin-right: auto; margin-left: auto'>
      <%= image_tag attachments['email-pic.jpg'].url, style: "width: 600px" %>
    </div>
  </body>
</html>