<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    .header-mailer {
      display: flex;
      background-color: black;
    }
    .header-sdplogo {
      
    }
  </style>
  <body>
    <div class='header-mailer'>
      <div class='header-sdplogo'>
        
      </div>
      <div class='header-container'>
        <div class='header-title'>
          <h1>¡Gracias <%= @user.name %>, por inscribirte a la Semana de la Publicidad 2020!</h1>
        </div>
        <div class='header-button'>
          <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NmNwdnJ0dTF0dm5kcDR1Mjc5dmJrZmtvMHJfMjAyMDEyMDJUMTQwMDAwWiBpbmZvcm1lc3NkcEBt&amp;tmsrc=informessdp%40gmail.com&amp;scp=ALL">AGENDA LA FECHA</a>
        </div>
        <div class='header-parragraph'>
        </div>
        <div class='white-lock'>
        </div>
        <div class='header-phrase'>
          <p>Trabajando Juntos</p>
        </div>
        <div class='header-threelogos'>
        </div>
      </div>
    </div>
    <div class='sponsors'>
      <div class='first-row'>
      </div>
      <div class='second-row'>
      </div>
    </div>
  </body>
</html>