<div class="footer">
  <div class="ftitle">
    <h2>CONTACTO</h2>
  </div>
  <div class="foot">
    <div class="follow">
      <h5>Siguenos en nuestras redes sociales</h5>
    </div>
    <div class="flinks">
      <div class="link">
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
      <div class="link">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="link">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="link">
        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="end">
    <div class="copy">
      <p>Semana De la Publicidad <span>&copy;</span></p>
    </div>
    <div class="help">
      <p>Para mas información contactanos en: <span>semanaelapublicidad@gmail.com</span></p>
    </div>
  </div>

</div>