<div class="footer">
  <div class="ftitle">
    <h2>CONTACTO</h2>
  </div>
  <div class="foot">
    <div class="pfooter">
      <h4>Paragraph</h4>
    </div>
    <div class="follow">
      <h5>Follow Us</h5>
    </div>
    <div class="flinks">
      <div class="link">
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
      <div class="link">
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
      <div class="link">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>

    </div>
  </div>
  <div class="end">
    <div class="copy">
      <p>SDP<span>&copy;</span></p>
    </div>
    <div class="help">
      <p>Contact us <span>semanaelapublicidad@gmail.com</span></p>
    </div>
  </div>

</div>