<header class='header'>
  <%= render 'navbar'%>
  <div class='header-container'>

    <div class='yellow-picture'>
      sdp image yellow
    </div>

    <div class='col-flex'>
      <div>
        lock
      </div>
      <div>
        date
      </div>
      <div class='logos'>
        <div>
          logo1
        </div>
        <div>
          logo2
        </div>
        <div>
          logo3
        </div>
      </div>
      <div class='work-tougheter'>
        <p>Trabajamos Juntos</p>
      </div>
      <div class='div-button'>
        <button class='button-header'>INSCRIBIRME</button>
      </div>
    </div>
    
  </div>
</header>