<nav class='nav-bar'>
  <div>
    <a href="#"><h2>HOME</h2></a>
  </div>
  <div>
    <a href="#"><h2>NOSOTROS</h2></a>
  </div>
  <div>
    <a href="#"><h2>SPEAKERS</h2></a>
  </div>
  <div>
    <a href="#"><h2>HORARIOS</h2></a>
  </div>
  <div>
    <a href="#"><h2>PRECIOS</h2></a>
  </div>
  <div>
    <a href="#"><h2>CONTACTO</h2></a>
  </div>
</nav>