<nav class='nav-bar'>
  <div>
    <a href="#"><h2>HOME</h2></a>
  </div>
  <div>
    <a href="#speaker1"><h2>SPEAKERS</h2></a>
  </div>
  <div>
    <a href="#schedule1"><h2>INSCRIPCIÓN</h2></a>
  </div>
  <div>
    <a href="#footer1"><h2>CONTACTO</h2></a>
  </div>
</nav>