<div class="schedule" id='schedule1'>
  <div class="t-title">
    <h2>PROGRAMA</h2>
  </div>

  <div class="t-subtitle">
  <h3>DÍA 1 - 2 DE DICIEMBRE</h3>
  </div>

  <div class="rows">
    <div class="first-box">
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
    </div>

    <div class="second-box">
      <div class="dic-1">
        <h3>9:00 AM</h3>
      </div>
      <div class="dic-2">
        <h3>9:15 AM</h3>
      </div>
      <div class="dic-1">
        <h3>10:00 AM</h3>
      </div>
      <div class="dic-2">
        <h3>10:40 AM</h3>
      </div>
      <div class="dic-1">
        <h3>10:50 AM</h3>
      </div>
      <div class="dic-2">
        <h3>11:30 AM</h3>
      </div>
      <div class="dic-1">
        <h3>12:00 AM</h3>
      </div>
    </div>

    <div class="third-box">
      <div class="color-1">
        <h3>Apertura y Bienvenida</h3>
      </div>
      <div class="color-2">
        <h3>Tomás Anselmi (Argentina), Sr Manager South Cone en The Walt Disney Company</h3>
      </div>
      <div class="color-1">
        <h3>Diego Figueroa (San Francisco), Global Brand Marketing & Strategy en Facebook</h3>
      </div>
      <div class="color-2">
        <h3>Sorteo de entradas a evento "+Cartagena 2021"</h3>
      </div>
      <div class="color-1">
        <h3>Julieta Laurentiis (Argentina), Local Premium Brands Head en Quilmes</h3>
      </div>
      <div class="color-2">
        <h3>Karely Munárriz (México), Directora de Marca y Comunicaciones Integradas de Marketing en Telefónica México</h3>
      </div>
      <div class="color-1">
        <h3>Cierre Día 1</h3>
      </div>
    </div>
  </div>

  <div class="t-subtitle">
    <h3>DÍA 2 - 3 DE DICIEMBRE</h3>
  </div>

  <div class="rows">
    <div class="first-box">
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-2">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
    </div>

    <div class="second-box">
      <div class="dic-1">
        <h3>9:00 AM</h3>
      </div>
      <div class="dic-2">
        <h3>9:15 AM</h3>
      </div>
      <div class="dic-1">
        <h3>10:00 AM</h3>
      </div>
      <div class="dic-2">
        <h3>10:40 AM</h3>
      </div>
      <div class="dic-1">
        <h3>10:50 AM</h3>
      </div>
      <div class="dic-2">
        <h3></h3>
      </div>
      <div class="dic-1">
        <h3></h3>
      </div>
      <div class="dic-2">
        <h3></h3>
      </div>
      <div class="dic-last">
        <h3>11:40 AM</h3>
      </div>
    </div>

    <div class="third-box">
      <div class="color-1">
        <h3>Apertura y Bienvenida</h3>
      </div>
      <div class="color-2">
        <h3>Diego Marti (México), HR Director en Droga 5</h3>
      </div>
      <div class="color-1">
        <h3>Roberto Ramirez (Miami), SVP Marketing and Communications LAC en Mastercard</h3>
      </div>
      <div class="color-2">
        <h3>Sorteo de entradas a evento "Ojo de Iberoamérica 2021"</h3>
      </div>
      <div class="color-1">
        <h3>Panel "Peruanos en el Extranjero"</h3>
      </div>
      <div class="color-2">
        <h3>Diego Arellano (Londres), Creative Director en TBWA</h3>
      </div>
      <div class="color-2">
        <h3>Ariana Rodriguez (Dubai), Videographer en Namshi.com</h3>
      </div>
      <div class="color-2">
        <h3>Giancarlo Rodas (Los Ángeles), Creative Director en Grey Group</h3>
      </div>
      <div class="color-1">
        <h3>Conclusiones y Cierre del Evento</h3>
      </div>
    </div>
  </div>
</div>