<div class="schedule" id='schedule1'>
  <div class="t-title">
    <h2>PROGRAMA</h2>
  </div>
  <div class="rows">
    <div class="first-box">
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
      <div class="color-1">

      </div>
      <div class="color-2">

      </div>
    </div>
    <div class="second-box">
      <div class="dic-1">
        <h3>2 DIC</h3>
      </div>
      <div class="dic-2">
        <h3>2 DIC</h3>
      </div>
      <div class="dic-1">
        <h3>3 DIC</h3>
      </div>
      <div class="dic-2">
        <h3>3 DIC</h3>
      </div>
    </div>
    <div class="third-box">
      <div class="color-1">
        <h3>MARKETING WORKSHOP</h3>
      </div>
      <div class="color-2">
        <h3>MARKETING WORKSHOP</h3>
      </div>
      <div class="color-1">
        <h3>MARKETING WORKSHOP</h3>
      </div>
      <div class="color-2">
        <h3>MARKETING WORKSHOP</h3>
      </div>
    </div>
    <div class="forth-box">
      <div class="dic-1">
        <h3>10:00 am</h3>
      </div>
      <div class="dic-2">
        <h3>10:00 am</h3>
      </div>
      <div class="dic-1">
        <h3>10:00 am</h3>
      </div>
      <div class="dic-2">
        <h3>10:00 am</h3>
      </div>
    </div>
    <div class="fifth-box">
      <div class="color-1">
        <h3>Jose Pepe Funegra</h3>
      </div>
      <div class="color-2">
        <h3>Jose Pepe Funegra</h3>
      </div>
      <div class="color-1">
        <h3>Jose Pepe Funegra</h3>
      </div>
      <div class="color-2">
        <h3>Jose Pepe Funegra</h3>
      </div>
    </div>
  </div>
</div>