<div class="speakers">
  <div class="s-title">
    <div class="s-abs">
      <h1>SPEAKERS</h1>
    </div>
  </div>
  <div class="speaker">
    <div class="fpic">
      <div class="pic">
        <div class="img">
          <%= image_tag 'girl', class: 'girl' %>
        </div>
        <div class="name">
          <h3>JOSE PEPE FUNEGRA</h3>
        </div>
        <div class="pos" >
          <h4>Director Creativo</h4>
        </div>
        <div class="loc">
          <h4>Mother - New York</h4>
        </div>
      </div>
      <div class="pic">
        <div class="img">
          <%= image_tag 'girl', class: 'girl'  %>
        </div>
        <div class="name">
          <h3>JOSE PEPE FUNEGRA</h3>
        </div>
        <div class="pos" >
          <h4>Director Creativo</h4>
        </div>
        <div class="loc">
          <h4>Mother - New York</h4>
        </div>
      </div>
    </div>
    <div class="spic">
      <div class="pic">
        <div class="img">
          <%= image_tag 'girl', class: 'girl'  %>
        </div>
        <div class="name">
          <h3>JOSE PEPE FUNEGRA</h3>
        </div>
        <div class="pos" >
          <h4>Director Creativo</h4>
        </div>
        <div class="loc">
          <h4>Mother - New York</h4>
        </div>
      </div>
      <div class="pic">
        <div class="img">
          <%= image_tag 'girl', class: 'girl'  %>
        </div>
        <div class="name">
          <h3>JOSE PEPE FUNEGRA</h3>
        </div>
        <div class="pos" >
          <h4>Director Creativo</h4>
        </div>
        <div class="loc">
          <h4>Mother - New York</h4>
        </div>
      </div>
    </div>


  </div>

</div>