<div class='speach'>
  <div class='logo-speach'>
    <%= image_tag 'black_lock', class: 'black-lock'%>
  </div>
  <div class='speach-p'>
    <h5>
      <mark>5ta edición de la Semana de la Publicidad </mark> que reúne a los principales speakers y gremios de la
      industria para compartir las mejores prácticas en publicidad y marketing, con el objetivo de
      contribuir en conjunto<mark>con el crecimiento de nuestro país.</mark>
    </h5>
  </div>
</div>