<div class="speakers">
  <div class="s-title">
    <div class="abs">
      <h1>SPEAKERS</h1>
    </div>
  </div>
  <div class="speaker">
    <div class="pic">
      <div class="img">
        <%= link_to %>
      </div>
      <div class="name">
        <h3>JOSE PEPE FUNEGRA</h3>
      </div>
      <div class="pos" >
        <h4>Director Creativo</h4>
      </div>
      <div class="loc">
        <h4>Mother - New York</h4>
      </div>
    </div>
    <div class="pic">
      <div class="img">
        <%= link_to %>
      </div>
      <div class="name">
        <h3>JOSE PEPE FUNEGRA</h3>
      </div>
      <div class="pos" >
        <h4>Director Creativo</h4>
      </div>
      <div class="loc">
        <h4>Mother - New York</h4>
      </div>
    </div>
    <div class="pic">
      <div class="img">
        <%= link_to %>
      </div>
      <div class="name">
        <h3>JOSE PEPE FUNEGRA</h3>
      </div>
      <div class="pos" >
        <h4>Director Creativo</h4>
      </div>
      <div class="loc">
        <h4>Mother - New York</h4>
      </div>
    </div>
    <div class="pic">
      <div class="img">
        <%= link_to %>
      </div>
      <div class="name">
        <h3>JOSE PEPE FUNEGRA</h3>
      </div>
      <div class="pos" >
        <h4>Director Creativo</h4>
      </div>
      <div class="loc">
        <h4>Mother - New York</h4>
      </div>
    </div>
  </div>

</div>