<div class='speach'>
  <div class='logo-speach'>
    <%= image_tag 'black_lock', class: 'black-lock'%>
  </div>
  <div class='speach-p'>
    <h5>
      La Semana de la Publicidad, el evento más relevante de la industria en el país,
      regresa este año con el objetivo de compartir información y conocimientos,
      convocando speakers de talla mundial quienes presentarán los mejores casos de la
      publicidad, los medios y el marketing.
      </br>
      </br>
      Este año, la Semana de la Publicidad 2020, presenta una Edición Especial, pues es
      organizada por tres asociaciones: Asociación Peruana de Agencias de Publicidad
      (APAP), Asociación de Agencias de Medios (AAM) y Sociedad Peruana de Marketing
      (SPM).
      </br>
      </br>
      Este encuentro multidisciplinario se convierte en un referente del trabajo en equipo
      y unión entre los diferentes participantes de la industria.
      La Semana de la Publicidad está dirigida a publicistas, marketeros y comunicadores,
      profesionales tanto de agencias creativas como agencias de medios, anunciantes,
      medios de comunicación y estudiantes que buscan casos y experiencias aplicables y
      de valor.
      </br>
      </br>
      Acompáñanos a conocer las experiencias más inspiradoras de la publicidad, los
      medios y el marketing para hacer posible una mayor desarrollo de la industria.
    </h5>
  </div>
</div>