<%= render 'form', user: @user %>


<!--<div class="form-section">-->
<!--  <div class="form">-->
<!--    <div class="div-button" style="padding: 0">-->
      <%#= link_to 'Back', root_path, class: 'button'%>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

