
<div class="success">
  <%= image_tag 'white_lock.png', class: 'show'%>
  <h1>Gracias por inscribirte, se te ha enviado un email de confirmación. </h1>

  <%= link_to "Atras ", root_path, class: 'back'%>
</div>