.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  height: auto;

  .sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6em;
    .atitle {
      text-align: center;
      border-bottom: solid black 2px;
      border-top: solid black 2px;
      width: 18em;
      h2 {
        font-size: 2em;
        font-weight: bolder;
      }
    }
    .stitle {
      text-align: center;
      border-bottom: solid black 2px;
      border-top: solid black 2px;
      width: 20em;
      h2 {
        font-size: 2em;
        font-weight: bolder;
      }
    }
    .ltitle {
      text-align: center;
      border-bottom: solid black 2px;
      border-top: solid black 2px;
      width: 10em;
      h2 {
        font-size: 2em;
        font-weight: bolder;
      }
    }
    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em;
      .logo1 {
        margin: 1em;
        .pic {
          height: 10em;
        }
      }
      .logo2 {
        margin: 1em;
        .pic {
          height: 7em;
        }
      }
      .logo3 {
        margin: 1em;
        .pic {
          height: 6em;
        }
      }
      .logo4 {
        margin: 1em;
        .pic {
          height: 12em;
        }
      }
      .logo5 {
        margin: 1em;
        .pic {
          height: 15em;
        }
      }

    }
  }
  .ftitle {
    text-align: center;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    width: 20em;
    h2 {
      font-size: 3em;
      font-weight: bolder;
    }
  }
  .foot {
    display: flex;
    flex-direction: column;
    .follow {
      text-align: center;
      h5 {
        font-size: 1.5em;
        font-weight: bolder;
      }
    }
    .flinks {
      display: flex;
      justify-content: center;
      .link {
        font-size:3em;
        span {
          margin:  1em;
          color: #00d4af;
        }

      }

    }
  }
  .end {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #eeeeee;
    width: 100%;
    margin-top: 3em;
    .copy {
      margin-left: 5em;
    }
    .help {
      margin-right: 5em;
    }
  }
}