.form-section{
  position: relative;
  
  .f-title {
    .f-abs {
      h2 {
        font-family: 'DIN', sans-serif;
        position: absolute;
        top: -.66em;
        left: .1em;
        font-size: 12em;
        letter-spacing: 5px;
        color: #ffff00;
        font-weight: bolder;
      }
    }
  }

  .form-speach {
    p {
      color: white;
      font-weight: bold;
      font-size: 1.7em;
      text-align: center;
      margin-bottom: 2em;
    }
  }

  .form {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13em;
    .field {
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      .text {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
        width: 8em;
        font-weight: bolder;
      }
  
      .input-field {
        width: 26em;
        height: 2em;
      }

      .text-check {
        color: white;
        width: auto;
        font-weight: bolder;
        font-size: 1em;
        margin: 1em 0 1em 5px;
      }

    }
    .div-button {
      display: flex;
      justify-content: center;
      margin-bottom: 2em;
      .button {
        color: #ffff00;
        padding: 1em;
        background-color: transparent;
        border: #ffff00 solid 2px;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 1.5em;
      }
      .button:hover{
        background-color: #ffff00;
        color: black;
      }
    }
  }
}

