.header {
  background-color: black;
  height: 61.5em;
  .header-container {
    display: flex;
    justify-content: space-around;
    .yellow-picture {
      .yellow {
        position: relative;
        .upper {
          position: absolute;
          height: 63.5em;
          top: -8em;
        }
      }
      .yellow1 {
        position: relative;
        .emana {
          position: absolute;
          height: 7em;
          left: 16em;
          top: 0.8em;
        }
      }
      .yellow2 {
        position: relative;
        .ela {
          position: absolute;
          height: 7em;
          top: 20em;
          left: 21em;
        }
      }
      .yellow3 {
        position: relative;
        .ublicidad {
          position: absolute;
          height: 7em;
          top: 48em;
          left: 19em;
        }
      }
    }
    .col-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 25em;
      .sdp-container {
        display: flex;
        position: relative;
        .special {
          width: fit-content;
          background-color: black;
          padding: 0.7em;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: -10em;
          top: 4.6em;
          background-color: black;
          z-index: 3;
          width: 12em;
          h3 {
            color: white;
            font-size: 1.2em;
            margin: 0;
            font-style: italic;
            opacity: 0.9;
          }
        }
        .title-logs {
          h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            border: white solid 2px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            padding: 0.6em 0;
            position: absolute;
            left: -5em;
            top: 1.5em;
            color: #fdff02;
            font-size: 4em;
            margin: 0;
            width: 8em;
            z-index: 1;
          }
        }

        .white-lock-div{
          height: 10em;
          .white-lock {
            position: absolute;
            left: 6em;
            top: 1.4em;
            width: 22em;
            height: 12em;
          }
        }
      }

      .date-header{
        margin-top: 5em;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        p {
          color: white;
          font-weight: bolder;
          font-size: 3em;
          font-family: 'Poppins', sans-serif;
          font-style: italic;
        }
      }

      .content-h {
        width: 40em;
        text-align: center;
        margin-top: 1em;
        p {
          color: white;
          font-weight: bolder;
        }
        .work-tougheter {
          p {
            color: #00d4ae;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 1.5em;
          }
        }
      }

      .logos {
        display: flex;
        flex-direction: row;
        width: 40em;
        height: 20em;
        position: relative;

        .trhee-logos {
          margin-top: 2em;
          position: absolute;
          top: 0;
          left: 5em;
          width: 30em;
          height: 7em;
        }
        .div-button {
          margin-bottom: 1rem;
          position: absolute;
          top: 13em;
          left: 13.5em;
          .button-header{
            color: white;
            padding: 1em;
            background-color: transparent;
            border: white solid 2px;
            border-radius: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 1.5em;
          }
          .button-header:focus {
            visibility: hidden;
          }
        }
      }
    }
  }
}


