.header {
  background-color: black;
  height: 55em;
  .header-container {
    display: flex;
    justify-content: space-around;
    .yellow-picture {
      .yellow {
        position: relative;
        .upper {
          position: absolute;
          height: 57em;
          top: -8em;

        }
      }
      .yellow1 {
        position: relative;
        .emana {
          position: absolute;
          height: 7em;
          left: 14em;
          top: -1em;
        }
      }
      .yellow2 {
        position: relative;
        .ela {
          position: absolute;
          height: 7em;
          top: 17em;
          left: 20em;
        }
      }
      .yellow3 {
        position: relative;
        .ublicidad {
          position: absolute;
          height: 7em;
          top: 42em;
          left: 17em;
        }
      }
    }
    .col-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      .white-lock-div{
        height: 10em;
        .white-lock {
          width: 25em;
          height: 15em;
        }
      }

      .date-header{
        margin-top: 5em;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        p {
          color: white;
          font-weight: bolder;
          font-size: 3em;
          font-family: 'Poppins', sans-serif;
          font-style: italic;
        }
      }
      .logos {
        display: flex;
        flex-direction: row;
        width: 40em;
        height: 20em;
        position: relative;

        .trhee-logos {
          margin-top: 2em;
          position: absolute;
          top: 0;
          left: 5em;
          width: 30em;
          height: 7em;
        }
        .work-tougheter {
          position: absolute;
          top: 12em;
          left: 12em;
          p {
            color: yellow;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 1.5em;
          }
        }
        .div-button {
          margin-bottom: 1rem;
          position: absolute;
          top: 17em;
          left: 13.5em;
          .button-header{
            color: white;
            padding: 1em;
            background-color: transparent;
            border: white solid 2px;
            border-radius: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 1.5em;
          }
          .button-header:focus {
            visibility: hidden;
          }
        }
      }
    }
  }
}


