.header {
  background-color: black;
  height: 45em;
  .header-container {
    display: flex;
    justify-content: space-around;
    .yellow-picture {
      .yellow {
        position: relative;
        .upper {
          position: absolute;
          height: 47.1em;
          top: -8em;
        }
      }
      .yellow1 {
        position: relative;
        .emana {
          position: absolute;
          height: 5em;
          left: 12em;
          top: -2em;
        }
      }
      .yellow2 {
        position: relative;
        .ela {
          position: absolute;
          height: 5em;
          top: 12em;
          left: 16em;
        }
      }
      .yellow3 {
        position: relative;
        .ublicidad {
          position: absolute;
          height: 5em;
          top: 34em;
          left: 14em;
        }
      }
    }
    .col-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5em;
      .sdp-container {
        display: flex;
        position: relative;
        
        .date-header{
          margin-top: 5em;
          border-top: white solid 2px;
          border-bottom: white solid 2px;
          p {
            color: white;
            font-weight: bolder;
            font-size: 3em;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
          }
        }

        .white-lock-div{
          height: 10em;
          .white-lock {
            position: absolute;
            left: 15em;
            top: 1.4em;
            width: 25em;
            height: 15em;
          }
        }
      }


      .content-h {
        .work-tougheter {
          p {
            color: #00d4ae;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 3.5em;
            margin: 1em 0 0 0;
          }
        }
      }

      .logos {
        display: flex;
        flex-direction: row;
        width: 40em;
        height: 20em;
        position: relative;

        .trhee-logos {
          margin-top: 2em;
          position: absolute;
          top: 0;
          left: 5em;
          width: 30em;
          height: 7em;
        }
        .div-button {
          margin-bottom: 1rem;
          position: absolute;
          top: 13em;
          left: 13.5em;
          .button-header{
            color: white;
            padding: 1em;
            background-color: transparent;
            border: white solid 2px;
            border-radius: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 1.5em;
          }
          .button-header:focus {
            visibility: hidden;
          }
        }
      }
    }
  }
}


