.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 4em;
  .t-title {
    text-align: center;
    border-top: solid black  2px;
    border-bottom: solid black 2px;
    width: 20em;
    h2 {
      color: #00d4af;
      font-size: 3em;
      font-weight: bolder;
    }
  }
  .t-subtitle {
    background-color: #00d4af;
    margin-top: 2em;
    width: 16em;
    text-align: center;
  }
  .rows {
    display: flex;
    margin-top: 2em;
    .first-box {
      display: flex;
      flex-direction: column;

      .color-1 {
        height: 3em;
        width: 2em;
        background-color: #BBBBBB;
        margin: 0.7em 0;
      }
      .color-2 {
        height: 3em;
        width: 2em;
        background-color: #eeeeee;
        margin: 0.7em 0;
      }
    }
    .second-box {
      display: flex;
      flex-direction: column;
      background-color: #00d4af;
      width: 10em;
      text-align: center;
      .dic-1,
      .dic-2 {
        padding: 0.35em 0;
      }
      .dic-last {
        margin-top: 7.5em;
        padding: 0.35em 0;
      }

    }
    .third-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      .color-1 {
        height: 3em;
        width: 60em;
        background-color: #BBBBBB;
        margin: 0.7em 0;
        h3 {
          margin: 0.7em 0 0 0;
          font-size: 1.2em;
          font-weight: bolder;
          color: black;
        }
      }
      .color-2 {
        height: 3em;
        width: 60em;
        background-color: #eeeeee;
        margin: 0.7em 0;
        h3 {
          margin: 0.7em 0 0 0;
          font-size: 1.2em;
          font-weight: bolder;
          color: black;
        }
      }
    }
  }
}