.speakers {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40em;
  padding-bottom: 10em;
  .s-title {

    .abs {
      position: absolute;
      top: -0.9em;
      left: 0.1em;
      bottom: 5em;
      font-size: 6em;
      letter-spacing: 10px;
      color: #ff00ff;

    }
  }
  .speaker {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15em;
    .pic {
      margin: 5em;
      .img {
        .girl {
          height: 20em;
          border-radius: 3em;
        }
      }
      .name {
        color: #ff00ff;;
      }
      .pos {
        color: black;
        background-color: #ff00ff;;
      }
      .loc {
        color: white;
      }
    }
  }
}