.speakers {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40em;
  padding: 20em 0;
  .s-title {
    .s-abs {
      position: absolute;
      top: -3em;
      left: 0.1em;
      h1 {
        font-size: 10em;
        color: #ff00ff;
        font-weight: bolder;
        letter-spacing: 10px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
  .speaker {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20em;
    margin-bottom: 15em;
    .pic {
      margin: 5em;
      .img {
        .girl {
          height: 20em;
          border-radius: 3em;
        }
      }
      .name {
        color: #ff00ff;;
      }
      .pos {
        color: black;
        background-color: #ff00ff;;
      }
      .loc {
        color: white;
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 320px){

}
