.speakers {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 10em 0;
  .s-title {
    .s-abs {
      position: absolute;
      top: -4.9em;
      left: 0.1em;
      h1 {
        font-size: 10em;
        color: #ff00ff;
        font-weight: bolder;
        letter-spacing: 5px;
        font-family: 'DIN', sans-serif;
      }
    }
  }
  .speaker {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    .fpic {
      display: flex;
      flex-direction: row;
      .pic {
        margin: 5em;
        .img {
          .girl {
            height: 20em;
            border-radius: 3em;
          }
        }
        .name {
          color: #ff00ff;;
        }
        .pos {
          color: black;
          background-color: #ff00ff;;
        }
        .loc {
          color: white;
        }
      }
    }
    .spic {
      display: flex;
      flex-direction: row;
      .pic {
        margin: 5em;
        .img {
          .girl {
            height: 20em;
            border-radius: 3em;
          }
        }
        .name {
          color: #ff00ff;;
        }
        .pos {
          color: black;
          background-color: #ff00ff;;
        }
        .loc {
          color: white;
        }
      }
    }

  }
}


