/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "media-queries";
@import 'navbar';
@import 'header';
@import 'speach';
@import 'form';
@import 'footer';

@font-face {
  font-family: "DIN";
  src: url('./fonts/DIN-Pro-400.otf') format("truetype");
}

body, html {
  margin: 0;
  font-family: 'DIN', sans-serif;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #00d4ae;
  height: 100vh;
  h1 {
    font-size: 3em;
  }
  .show {
    height: 25em;
    margin: 1em;
  }
  .back {
    color: white;
    padding: 1em;
    background-color: transparent;
    border: white solid 2px;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    width: 7em;
    text-align: center;
    margin: 2em;
  }
  .back:hover {
    background-color: white;
    color: black;
  }
}


@media screen and (min-width: 420px) {
  .form-section {
    .f-title {
      .f-abs {
        h2 {
          font-size: 9em;
        }
      }
    }
  }
}

