/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "media-queries";
@import 'navbar';
@import 'header';
@import 'speach';
@import 'form';
@import 'footer';

@font-face {
  font-family: "DIN";
  src: url('./fonts/DIN-Pro-400.otf') format("truetype");
}

body, html {
  margin: 0;
  font-family: 'DIN', sans-serif;
}

.nota {
  background-color: rgb(165, 250, 165);
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}


@media screen and (min-width: 420px) {
  .form-section {
    .f-title {
      .f-abs {
        h2 {
          font-size: 9em;
        }
      }
    }
  }
}

