.header-mailer{
  display: flex;
  .header-sdplogo {
    .fucsia {

    }
  }
  .header-container {
    display: flex;
    flex-direction: column;
    .header-title {

    }
    .header-button {
  
    }
  }
}